@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
.btn-primary {
  background-color: white;
  color: black;
  border: white;
}

body {
  background-color: #17f5a0;
  font-family: 'Montserrat', sans-serif;
}
img {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 5px;
  width: 200px;
  margin: 10px;
  vertical-align: middle;
}
::-moz-selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}
img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 45px 0 150px;
  color: white;
}

@media only screen and (min-width: 45px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 45px 0;
  }
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Lora', 'Times New Roman', serif;
}

header.masthead .post-heading .meta a {
  color: #fff;
}


  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }

header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #FFC0CB ;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:whitesmoke;
  opacity: 0.5;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

footer {
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}
.navbar .navbar-brand .image img {
  
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  
}

.navbar .navbar-brand .text-logo {
  margin-left: 3.9em;
  color: #FFC0CB;
}

.navbar .navbar-brand .text-logo h2 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0.8em;
}

.navbar .navbar-brand .text-logo p {
  font-size: 12px;
  font-weight: 300;
  margin-top: -10px;
}

.navbar .menu-item .nav-item a {
  color: white;
}

.navbar .menu-item .nav-item .dropdown-item {
  color: black;
}

.form-control-login {
  border: none;
  border-bottom: 1px #ffffff solid;
  background: none;
}

.home {
  margin-top: 3rem;
}

.home .content-home p {
  color: white;
  font-size: 16px;
}

.home .content-home .image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}

.judul-grafik {
  color: white;
  font-size: 1.3em;
  text-align: center;
  margin-top: 2em;
}


.content-kriteria {
  margin-top: 3em;
}

.content-kriteria img {
  margin: auto;
  display: block;
}

.content-kriteria p {
  color: white;
  font-size: 15px;
  text-align: justify;
}

.content-kriteria hr {
  size: 10px;
  color: #fff;
}

.content-kriteria .bagian {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  border-radius: 10px;
}


.judul h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
}


.form-input {
  color: white;
}

.tanpa-sub {
  margin-top: 120px;
}

.judul-group {
  font-size: 1.4em;
  color: white;
  font-weight: 400;
  text-align: center;
}

.form-group label {
  color: white;
  font-size: 12px;
}

.bg-flat-color-1 {
  background-color: #18fc51;
}

.bg-flat-color-2 {
  background-color: #18fc51;
}

.bg-flat-color-3 {
  background-color: #3131f3;
}

.pdf tr td {
  font-size: 30px;
}

.pdf tr th {
  font-size: 30px;
}
/*# sourceMappingURL=style.css.map */